*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-color: black;
  color: white;
  margin: 70px;
  box-shadow:  0 0 50px rgb(253, 2, 190)   ;
}



#firsth1{
    background-color: rgb(0, 80, 122);
    -webkit-text-stroke: 2px green;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 10px 10px 15px aqua;
    text-shadow: 2px 2px 10px rgb(22, 191, 224);
    margin:0;
    margin-bottom: 50px;
    margin-top: 150px;
  
    
    
}
h2{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 10px;
    color: rgb(54, 5, 128);
    border: px solid rgb(174, 122, 174);
    background-color: rgb(245, 87, 179);
    margin: 40px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgb(250, 3, 139) ;
    margin-top: 100px;

}
p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    padding: 15px;
    color: rgb(64, 0, 255);
    border: 1px solid rgb(191, 189, 63);
    border-radius: 20px;
    background-color: rgb(247, 244, 61);
    margin: 40px;
    margin-bottom: 150px;
    padding: 20px;
    box-shadow: 10px 10px 20px rgb(233, 250, 3) ;
    text-shadow: 2px 2px 10px rgb(251, 251, 250);
    border-left: #ff8000 10px solid;
    border-right: #ff8000 10px solid;
    
}
video{
    border-radius: 30px;
    box-shadow: 10px 10px 40px rgb(244, 247, 247) ;
    width: 1000px;
    height:500px;
    border: 10px solid rgb(216, 196, 196);
    margin-bottom: 270px;
}

audio{
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgb(250, 163, 3) ;
    width: 80%;
    height:50px;
    border: 4px solid rgb(12, 92, 114);
    background-color: rgb(64, 172, 208);
    background: linear-gradient(90deg, #00ff88, #00e5ff);
    margin-bottom: 70px;

}
del{
    color: red;
    background-color: rgb(217, 155, 61);
    text-decoration-thickness: 4px;
}
img{
    width: 500px;
    height: 400px;
    border: 5px solid aqua;
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgb(3, 242, 242)
}


.para{
    font-size: 30px;
    width: 80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 10px;
    color: rgb(240, 239, 242);
    border: 1px solid rgb(191, 63, 174);
    border-radius: 20px;
    background-color: rgb(253, 4, 91);
    margin: 40px;

    box-shadow: 10px 10px 20px rgb(255, 0, 93) ;
    text-shadow: 2px 2px 10px rgb(99, 153, 198);
}

.para2{
    font-size: 20px;
    width: 80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 10px;
    color: rgb(255, 0, 110);
    border: 8px solid rgb(75, 250, 0);
    border-radius: 20px;
    background-color: rgb(146, 231, 104);
    margin: 40px;
    margin-top: -50px;
    margin-bottom: 50px;
    padding: 20px;
     
    box-shadow: 10px 10px 20px rgb(0, 255, 17) ;
    text-shadow: 2px 2px 10px rgb(251, 251, 250);
}

h3{
    text-align: center;
    color: orange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(234, 24, 24);
    border-radius: 20px;
    padding: 10px;
    font-size: 35px;
    box-shadow: 10px 10px 15px yellow;
    margin: 150px;
}

#par{
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    box-shadow: 10px 10px 15px grey;
    margin: 50px;
}

*{
    transition: 0.5ms
}

*:hover{

    transform: scale(1.01) 
}
