*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
  scroll-behavior: smooth;
}

.navbar{
    margin-top: 120px;
    padding: 50px;
    width: 100%;
 
  

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 30px;
  border-radius: 0 0 20px 20px;

  background: linear-gradient(90deg, #00ff88, #00e5ff);
  box-shadow: 0 0 40px rgba(0, 229, 255, 0.6);
}

.logo{
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-shadow: 0 0 12px white;
}

.nav-links{
  list-style: none;
  display: flex;
  gap: 18px;
  margin: 0;
  padding: 0;
}

.nav-links a{
  text-decoration: none;
  font-weight: 700;
  padding: 10px 14px;
  border-radius: 14px;

  background: rgba(0,0,0,0.55);
  color: white;

  transition: 0.3s ease;
}

.nav-links a:hover{
  background: black;
  color: aqua;
  box-shadow: 0 0 20px aqua;
  transform: scale(1.05);
}



body{
  background-color: black;
  color: white;
  margin: 50px;
  box-shadow:  0 0 50px rgb(253, 2, 190)   ;
  padding-left: 50px;
  padding-right: 50px;
}



#home{
    background-color: rgb(12, 156, 233);
    -webkit-text-stroke: 3px green;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 10px 10px 15px aqua;
    text-shadow: 2px 2px 10px rgb(22, 191, 224);
    margin:0;
    margin-bottom: 100px;
    margin-top: 80px;
    width: 80%;
    letter-spacing: 2px;
  
    
    
}
h2{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px;
    color: rgb(54, 5, 128);
    border: px solid rgb(221, 132, 221);
    background-color: rgb(239, 104, 183);
    margin: 40px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgb(250, 3, 139) ;
    margin-top: 100px;
    width: 80%;

}
p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    padding: 15px;
    color: rgb(64, 0, 255);
    border: 1px solid rgb(191, 189, 63);
    border-radius: 20px;
    background-color: rgb(229, 227, 106);
    margin: 40px;
    margin-bottom: 150px;
    padding: 20px;
    box-shadow: 10px 10px 20px rgb(233, 250, 3) ;
    text-shadow: 2px 2px 10px rgb(251, 251, 250);
    border-left: #ff8000 10px solid;
    border-right: #ff8000 10px solid;
    
}
video{
    border-radius: 30px;
    box-shadow: 10px 10px 40px rgb(244, 247, 247) ;
    width: 90%;
    height:500px;
    border: 10px solid rgb(216, 196, 196);
    margin-bottom: 270px;
}

audio{
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgb(250, 163, 3) ;
    width: 80%;
    height:70px;
    border: 2 px solid rgb(211, 129, 57);
    /* background-color: rgb(64, 172, 208); */
    
    margin-bottom: 70px;

}
del{
    color: red;
    background-color: rgb(217, 155, 61);
    text-decoration-thickness: 4px;
}
img{
    width: 500px;
    height: 400px;
    border: 5px solid aqua;
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgb(3, 242, 242);
    margin-bottom: 50px;
}


.para{
    font-size: 30px;
    width: 80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 10px;
    color: rgb(240, 239, 242);
    border: 1px solid rgb(191, 63, 174);
    border-radius: 20px;
    background-color: rgb(253, 4, 91);
    margin: 40px;

    box-shadow: 10px 10px 20px rgb(255, 0, 93) ;
    text-shadow: 2px 2px 10px rgb(99, 153, 198);
}

.para2{
    font-size: 20px;
    width: 80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 10px;
    color: rgb(255, 0, 110);
    border: 8px solid rgb(75, 250, 0);
    border-radius: 20px;
    background-color: rgb(146, 231, 104);
    margin: 40px;
    margin-top: 10px;
    margin-bottom: 90px;
    padding: 10px;
     
    box-shadow: 10px 10px 20px rgb(0, 255, 17) ;

    text-shadow: 2px 2px 10px rgb(251, 251, 250);
}

h3{
    text-align: center;
    color: orange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(234, 24, 24);
    border-radius: 20px;
    padding: 10px;
    font-size: 35px;
    box-shadow: 10px 10px 15px yellow;
    margin: 80px;
}

#par{
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    box-shadow: 10px 10px 15px grey;
    margin: 50px;
}

*{
    transition: 0.5ms
}

*:hover{

    transform: scale(1.01) 
}
